#background-image {
    position: absolute;
    width: 928px;
    height: 334px;
    background-color: transparent;
    background-image: url(dancer-background.png);
    background-repeat: no-repeat;
}

#dancer {
  position: absolute;
  top: 71px;
  left: 162px;
  background-color: transparent;
  background-image: url(dancer-sprite.jpg);
  background-repeat: no-repeat;
  width: 119px;
  height: 145px;
}

#controls {
 position: absolute;
 top: 279px;
 left: 76px;
}

button {
 margin: 0px;
}

.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -238px 0; } 
.frame-2 { background-position: -357px 0; } 
.frame-3 { background-position: -476px 0; } 
.frame-4 { background-position: -595px 0; } 
.frame-5 { background-position: -714px 0; } 
.frame-6 { background-position: -833px 0; } 
.frame-7 { background-position: -952px 0; } 
.frame-8 { background-position: -1071px 0; } 
.frame-9 { background-position: -1190px 0; } 
.frame-10 { background-position: -1309px 0; } 
.frame-11 { background-position: -1428px 0; } 
.frame-12 { background-position: -1547px 0; } 
