.table-container {
    margin-top: 40px;
}
table {
    display: flex;
    flex-flow: column;
    height: 400px;
}
th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}
tr {
    border: 1px solid black;
    width: 100%;
}
thead, tbody {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}